@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');



:root {

    /* Primary */

--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

    /* Neutral */

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background: url(../images/pattern-background-mobile.svg) center bottom no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    color: var(--Desaturated-blue);
    width: 325px;
    height: 700px;
}

.card > img {
    width: 100%;
}

.card h1,
.card p {
    text-align: center;
    padding: .75em 2em;
}

.card h1 {
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 900;
}

.card p {
    line-height: 1.5rem;
    font-size: .9375rem;
}

.plan {
    background-color: var(--Very-pale-blue);
    margin: 1.25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan img {
    margin-right: 1em;
}

.plan_price {
    font-size: .875rem;
}

.plan_duration {
    font-weight: 900;
    color: var(--Dark-blue);
}

.plan_change {
    font-size: .8125rem;
    font-weight: 700;
}
  
.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}